@keyframes background {
  0% {
    background-position: 50% 0%
  }
  25% {
    background-position: 50% 50%
  }
  50% {
    background-position: 0% 50%
  }
  75% {
    background-position: 50% 50%
  }
  100%{
    background-position: 50% 0%
  }
}
body {
  height: 100%;
  background-color:#46acc2;
  color:#f7f7f7;
  background-size: cover;
  font-family: monospace;
  text-align:center;
  height: 100%;
  background: linear-gradient(225deg, #46acc2, #FB3640) fixed;
  background-size: 400% 400%;
  animation: background 10s linear infinite;
}

hr {
  border: 2px solid white;
  width:30%;
}

h1 {
  margin-bottom:10px;
  font-size:40px;
}

input[type="submit"]{
  background-color:#498c8A;
  border-radius:10px;
  color:#f7f7f7;
  font-weight:600;
  width:15%;
  font-family:monospace;
  margin-bottom:10px;
}
