body {
  background-color:#46acc2;
  color:#f7f7f7;
  font-family: monospace;
  text-align:center;
}

hr {
  border: 2px solid white;
  width:30%;
  margin-left:35%;
}

h1 {
  margin-bottom:10px;
  font-size:40px;
}
