<!DOCTYPE html>
<!--Amanda Zheng & Jackie Lin (DJ AJ)-->
<!--css designing pd1-->
<!--11-2-2019-->
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <title>{% block title %}STANDARD TITLE CHANGE{% endblock %}</title>
        {% block link %} {% endblock %}
    </head>
    <body>
        <h1>Spewing Blogs!</h1>
        {% block header %}
        <form action = "/logout">
            Hello, {{username}}

            <div class="dropdown">
              <div class="dropbtn">
                <button disabled>Menu</button>
              </div>
              <div class="dropdown-content">
                <a href="/home">Home</a>
                <a href="/blogs">Blogs</a>
                <a href="/logout">Log Out</a>
              </div>
            </div>
        </form>
        {% endblock %}
        <hr>
        <br>
        {% block body %}
            THIS IS THE BODY
        {% endblock %}
        <br>
        <div class="footer">
            Website created by: Saad Bhuiyan, William Cao, Ethan Chen, Peihua Huang
        </div>
    </body>
</html>
